In [84]:
import pandas as pd

In [41]:
import requests
from bs4 import BeautifulSoup
import json

In [115]:
import re

In [13]:
data = BeautifulSoup(site.text, 'html.parser')

In [18]:
print(len(data.find_all('article')))

50

In [307]:
query_data = {
    'action' : 'scrollpagination',
    'number' : '2300',
    'offset' : '0',
    'sqlc' : '["0", "538"]',
    'c1' : 'category_parent',
    'c2' : '',
    'c3' : '1'
}

In [308]:
res = requests.post('https://www.thefamouspeople.com/ajax/page_loader.php', query_data)

In [309]:
data = BeautifulSoup(res.text, 'html.parser')

In [310]:
articles = data.find_all('article')

In [311]:
len(articles)

2280

In [235]:
articles[90]

<article class="feature col-lg-12 col-md-12 col-sm-12 col-xs-12 eventstart internal_space"><h2 class="ptitle"><span class="number"> 91 </span><a class="tileLink" href="//www.thefamouspeople.com/profiles/mary-boleyn-33619.php">Mary Boleyn</a></h2><div class="image col-lg-4 col-md-4 col-sm-4 col-xs-12"><img alt="Mary Boleyn" class="img-responsive combi-profile-img" data-src="//www.thefamouspeople.com/profiles/thumbs/mary-boleyn-1.jpg" src="" title="Mary Boleyn"/><div style="text-align:center;"><i class="fa fa-thumbs-o-up like-btn-33619" data-id="33619"></i><i class="fa fa-thumbs-o-down dislike-btn-33619" data-id="33619"></i><div class="clear"></div><span class="likes">0</span><span class="dislikes">1</span></div></div><div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 rt-text-display"><div class="desc-q"><b>Famous As: </b>Mistress of Henry VIII</div><div class="desc-q"><b>Birthdate: </b>1499 AD</div><div class="desc-q"><b>Nationality: </b>British</div><div class="desc-q"><b>Died: </b>July 19, 1543</div><div class="desc descEvent"><p>Mary Boleyn was the sister of Anne Boleyn. As a sibling of the English queen consort, Boleyn enjoyed considerable influence during King Henry VIII's reign. Also known for her affairs with Henry VIII and King Francis I of France, Boleyn has been the subject of films, such as <em>The Other Boleyn Girl</em> in which she was portrayed by Scarlett Johansson.</p></div></div><script>var pid =33619;var ip = '114.19.78.139'; var list_id = ' 538'; var uid ='2itv9e60lcdb1v9g9bv2c8lug1'; var page_type='category_parent'; var parent_cat_id = '0';$(".like-btn-"+pid).on("click",function(){var s=$(this).data("id");$clicked_btn=$(this),$clicked_btn.hasClass("fa-thumbs-o-up")?action="like":$clicked_btn.hasClass("fa-thumbs-up")&&(action="unlike"),$.ajax({url:"serverfile.php",type:"POST",data:{action:action,post_id:s,user_id:uid,ip:ip,list_id:list_id,page_type:page_type,parent_cat_id:parent_cat_id},success:function(s){res=JSON.parse(s),"like"==action?($clicked_btn.removeClass("fa-thumbs-o-up"),$clicked_btn.addClass("fa-thumbs-up")):"unlike"==action&&($clicked_btn.removeClass("fa-thumbs-up"),$clicked_btn.addClass("fa-thumbs-o-up")),$clicked_btn.siblings("span.likes").text(res.likes),$clicked_btn.siblings("span.dislikes").text(res.dislikes),$clicked_btn.siblings("i.fa-thumbs-down").removeClass("fa-thumbs-down").addClass("fa-thumbs-o-down")}})}),$(".dislike-btn-"+pid).on("click",function(){var s=$(this).data("id");$clicked_btn=$(this),$clicked_btn.hasClass("fa-thumbs-o-down")?action="dislike":$clicked_btn.hasClass("fa-thumbs-down")&&(action="undislike"),$.ajax({url:"serverfile.php",type:"POST",data:{action:action,post_id:s,user_id:uid,ip:ip,list_id:list_id,page_type:page_type,parent_cat_id:parent_cat_id},success:function(s){res=JSON.parse(s),"dislike"==action?($clicked_btn.removeClass("fa-thumbs-o-down"),$clicked_btn.addClass("fa-thumbs-down")):"undislike"==action&&($clicked_btn.removeClass("fa-thumbs-down"),$clicked_btn.addClass("fa-thumbs-o-down")),$clicked_btn.siblings("span.likes").text(res.likes),$clicked_btn.siblings("span.dislikes").text(res.dislikes),$clicked_btn.siblings("i.fa-thumbs-up").removeClass("fa-thumbs-up").addClass("fa-thumbs-o-up")}})});</script></article>

In [121]:
len('Nationality: ')

13

In [123]:
# Nationality
search = re.compile('Nationality: *')

articles[0].find(text=search).parent.parent.text[13:]

'British'

In [126]:
# Birth date
search = re.compile('Birthdate: *')

articles[0].find(text=search).parent.parent.text[11:]

'November 14, 1948'

In [313]:
# Died
search = re.compile('Died: *')

result_died = articles[5].find(text=search)
if result_died:
    print(result_died.parent.parent.text[6:])
# for ind, i in enumerate(articles):
#     print(ind)
#     i.find(text=search).parent.parent.text[6:]

January 20, 1936

In [306]:
# famous_as
search = re.compile('Famous As: *')
result_famous = articles[204].find(text=search)
if result_famous:
    print(result_famous.parent.parent.text[11:])
# articles[0].find_all('div')[3].find_all('div')[1].text[11:]

King

In [316]:
# genre
search = re.compile('Listed In: *')
result_genre = articles[204].find(text=search)
if result_genre:
    print(result_genre.parent.parent.text[11:])

Emperors & Kings

In [319]:
def pick_element(search_word, article):
    search = re.compile(search_word + ': *')
    result = article.find(text = search)
    if result:
        return result.parent.parent.text[len(search_word) + 2:]
    return ''

In [323]:
print(pick_element('Listed In', articles[204]))
print(pick_element('Birthdate', articles[100]))
print(pick_element('Died', articles[0]))

Emperors & Kings
April 13, 1519

In [315]:
len('Listed In: ')

11

In [156]:
# genre
search_genre = re.compile('Listed In: *')
articles[90].find(text=search_genre)

In [87]:
# name
articles[0].find_all('a')[0].text

'Charles, Prince of Wales'

In [189]:
# image
articles[95].find_all('img')[0]['src']

''

In [192]:
articles[95].find('img')['data-src']

'//www.thefamouspeople.com/profiles/thumbs/babur-1.jpg'

In [134]:
df0 = pd.DataFrame(
    ['www.thefamouspeople.com/profiles/thumbs/charles-prince-of-wales-1.jpg',
    'Charles, Prince of Wales',
    'Emperors & Kings',
    'Prince of Wales',
    'British',
    'November 14, 1948'],
    index = dataset.columns
)

In [136]:
df0.T

,image,name,genre,famous_as,nationality,birth
0,www.thefamouspeople.com/profiles/thumbs/charle...,"Charles, Prince of Wales",Emperors & Kings,Prince of Wales,British,"November 14, 1948"

In [173]:
dataset.append(df0.T)

,image,name,genre,famous_as,nationality,birth
0,www.thefamouspeople.com/profiles/thumbs/charle...,"Charles, Prince of Wales",Emperors & Kings,Prince of Wales,British,"November 14, 1948"

# make dataset

In [324]:
dataset = pd.DataFrame(columns=[
    'image',
    'name',
    'genre',
    'famous_as',
    'nationality',
    'birth',
    'died'
])

In [325]:
# search_birth = re.compile('Birthdate: *')
# search_nationality = re.compile('Nationality: *')
# search_died = re.compile('Died: *')

for ind, article in enumerate(articles):
    #print(ind)

    # image
    image = article.find_all('img')[0]['src']
    if image == '':
        image = article.find('img')['data-src']
    # name
    name = article.find_all('a')[0].text

    # genre
    genre = pick_element('Listed In', article)
    # try:
    #     # genre
    #     genre = article.find_all('a')[1].text
    # except:
    #     genre = ''

    # famous_as
    famous_as = pick_element('Famous As', article)
    # famous_as = article.find_all('div')[3].find_all('div')[1].text[11:]

    # Birth date
    birth_date = pick_element('Birthdate', article)
    # birth_date = article.find(text=search_birth).parent.parent.text[11:]

    # Nationality
    nationality = pick_element('Nationality', article)
    # nationality = article.find(text=search_nationality).parent.parent.text[13:]

    # Died
    died = pick_element('Died', article)
    # result_died = article.find(text=search_died)
    # died = ''
    # if result_died:
    #     died = result_died.parent.parent.text[6:]
    

    _df = pd.DataFrame(
    ['https:'+image,
    name,
    genre,
    famous_as,
    nationality,
    birth_date,
    died],
    index = dataset.columns
    )

    dataset = dataset.append(_df.T)
    # print(_df.T)
    # print(dataset)
dataset = dataset.reset_index(drop=True)

In [326]:
dataset.shape

(2280, 7)

In [327]:
dataset.to_csv('datasets/people_list2.csv')

In [259]:
dataset2 = pd.read_csv('datasets/people_list.csv', index_col=0)
print(dataset2.head())

                                               image  \
0  https://www.thefamouspeople.com/profiles/thumb...
1  https://www.thefamouspeople.com/profiles/thumb...
2  https://www.thefamouspeople.com/profiles/thumb...
3  https://www.thefamouspeople.com/profiles/thumb...
4  https://www.thefamouspeople.com/profiles/thumb...

                       name               genre  \
0  Charles, Prince of Wales    Emperors & Kings
1                 Cleopatra  Empresses & Queens
2                 George VI    Emperors & Kings
3            Mahatma Gandhi   Political Leaders
4            Queen Victoria  Empresses & Queens

                                           famous_as      nationality  \
0                                    Prince of Wales          British
1                     Queen of the Ptolemaic Kingdom  Egyptian, Greek
2                  Former King of the United Kingdom          British
3             Leader of Indian Independence Movement           Indian
4  Queen of the United Kingdom of Great Britain a...          British

               birth              died
0  November 14, 1948               NaN
1            0069 BC   August 12, 0030
2  December 14, 1895  February 6, 1952
3    October 2, 1869  January 30, 1948
4       May 24, 1819  January 22, 1901

In [278]:
import os
import pprint
import time

def download_file(url, dst_path):
    try:
        with requests.get(url) as web_file:
            data = web_file.content
            with open(dst_path, mode='wb') as local_file:
                local_file.write(data)
    except requests.exceptions.RequestException as e:
        print(e)

In [279]:
download_file(dataset['image'][0], 'datasets/0.jpg')

In [288]:
from tqdm.notebook import tqdm

In [329]:
len(dataset['image'])

2280

In [294]:
for ind, image_url in enumerate(tqdm(dataset['image'][1252:])):
    download_file(image_url, f'datasets/img/{ind+1252}.jpg')
    time.sleep(1)

HBox(children=(IntProgress(value=0, max=1028), HTML(value='')))

No connection adapters were found for 'https:https://www.thefamouspeople.com/images/no_image.jpg.webp'
No connection adapters were found for 'https:https://www.thefamouspeople.com/images/no_image.jpg.webp'
No connection adapters were found for 'https:https://www.thefamouspeople.com/images/no_image.jpg.webp'
No connection adapters were found for 'https:https://www.thefamouspeople.com/images/no_image.jpg.webp'
No connection adapters were found for 'https:https://www.thefamouspeople.com/images/no_image.jpg.webp'
No connection adapters were found for 'https:https://www.thefamouspeople.com/images/no_image.jpg.webp'
No connection adapters were found for 'https:https://www.thefamouspeople.com/images/no_image.jpg.webp'
No connection adapters were found for 'https:https://www.thefamouspeople.com/images/no_image.jpg.webp'
No connection adapters were found for 'https:https://www.thefamouspeople.com/images/no_image.jpg.webp'
No connection adapters were found for 'https:https://www.thefamouspeople.com/images/no_image.jpg.webp'
No connection adapters were found for 'https:https://www.thefamouspeople.com/images/no_image.jpg.webp'
No connection adapters were found for 'https:https://www.thefamouspeople.com/images/no_image.jpg.webp'
No connection adapters were found for 'https:https://www.thefamouspeople.com/images/no_image.jpg.webp'
No connection adapters were found for 'https:https://www.thefamouspeople.com/images/no_image.jpg.webp'
No connection adapters were found for 'https:https://www.thefamouspeople.com/images/no_image.jpg.webp'
No connection adapters were found for 'https:https://www.thefamouspeople.com/images/no_image.jpg.webp'
No connection adapters were found for 'https:https://www.thefamouspeople.com/images/no_image.jpg.webp'
No connection adapters were found for 'https:https://www.thefamouspeople.com/images/no_image.jpg.webp'
No connection adapters were found for 'https:https://www.thefamouspeople.com/images/no_image.jpg.webp'
No connection adapters were found for 'https:https://www.thefamouspeople.com/images/no_image.jpg.webp'
No connection adapters were found for 'https:https://www.thefamouspeople.com/images/no_image.jpg.webp'
No connection adapters were found for 'https:https://www.thefamouspeople.com/images/no_image.jpg.webp'
No connection adapters were found for 'https:https://www.thefamouspeople.com/images/no_image.jpg.webp'
No connection adapters were found for 'https:https://www.thefamouspeople.com/images/no_image.jpg.webp'
No connection adapters were found for 'https:https://www.thefamouspeople.com/images/no_image.jpg.webp'
No connection adapters were found for 'https:https://www.thefamouspeople.com/images/no_image.jpg.webp'
No connection adapters were found for 'https:https://www.thefamouspeople.com/images/no_image.jpg.webp'
No connection adapters were found for 'https:https://www.thefamouspeople.com/images/no_image.jpg.webp'
No connection adapters were found for 'https:https://www.thefamouspeople.com/images/no_image.jpg.webp'
No connection adapters were found for 'https:https://www.thefamouspeople.com/images/no_image.jpg.webp'
No connection adapters were found for 'https:https://www.thefamouspeople.com/images/no_image.jpg.webp'
No connection adapters were found for 'https:https://www.thefamouspeople.com/images/no_image.jpg.webp'
No connection adapters were found for 'https:https://www.thefamouspeople.com/images/no_image.jpg.webp'
No connection adapters were found for 'https:https://www.thefamouspeople.com/images/no_image.jpg.webp'
No connection adapters were found for 'https:https://www.thefamouspeople.com/images/no_image.jpg.webp'
No connection adapters were found for 'https:https://www.thefamouspeople.com/images/no_image.jpg.webp'
No connection adapters were found for 'https:https://www.thefamouspeople.com/images/no_image.jpg.webp'
No connection adapters were found for 'https:https://www.thefamouspeople.com/images/no_image.jpg.webp'
No connection adapters were found for 'https:https://www.thefamouspeople.com/images/no_image.jpg.webp'
No connection adapters were found for 'https:https://www.thefamouspeople.com/images/no_image.jpg.webp'
No connection adapters were found for 'https:https://www.thefamouspeople.com/images/no_image.jpg.webp'
No connection adapters were found for 'https:https://www.thefamouspeople.com/images/no_image.jpg.webp'
No connection adapters were found for 'https:https://www.thefamouspeople.com/images/no_image.jpg.webp'
No connection adapters were found for 'https:https://www.thefamouspeople.com/images/no_image.jpg.webp'
No connection adapters were found for 'https:https://www.thefamouspeople.com/images/no_image.jpg.webp'
No connection adapters were found for 'https:https://www.thefamouspeople.com/images/no_image.jpg.webp'
No connection adapters were found for 'https:https://www.thefamouspeople.com/images/no_image.jpg.webp'
No connection adapters were found for 'https:https://www.thefamouspeople.com/images/no_image.jpg.webp'
No connection adapters were found for 'https:https://www.thefamouspeople.com/images/no_image.jpg.webp'
No connection adapters were found for 'https:https://www.thefamouspeople.com/images/no_image.jpg.webp'
No connection adapters were found for 'https:https://www.thefamouspeople.com/images/no_image.jpg.webp'
No connection adapters were found for 'https:https://www.thefamouspeople.com/images/no_image.jpg.webp'
No connection adapters were found for 'https:https://www.thefamouspeople.com/images/no_image.jpg.webp'
No connection adapters were found for 'https:https://www.thefamouspeople.com/images/no_image.jpg.webp'
No connection adapters were found for 'https:https://www.thefamouspeople.com/images/no_image.jpg.webp'
No connection adapters were found for 'https:https://www.thefamouspeople.com/images/no_image.jpg.webp'
No connection adapters were found for 'https:https://www.thefamouspeople.com/images/no_image.jpg.webp'

In [289]:
for i in tqdm(range(10)):
    time.sleep(1)

HBox(children=(IntProgress(value=0, max=10), HTML(value='')))

In [ ]:
print('aaa')